.header {
	padding-top: 120px;
	padding-bottom: 30px;
	background-color: #285780;

	.text-center {
		color: #ffffff;
	}

	.titel-part {
		.lead {
			font-size: 1.8em;
			text-align: center;
			margin-bottom: 70px;
		}
	}
}


.features-list {
	text-align: center; 

	p {
		margin-bottom: 50px; 
	}

	a {
		color: $link;
		text-decoration: none;
	}

	&:last-child p {
		margin-bottom: 0; 
	}
}

.from-bulk-sending {
	h3 {
		text-align: left;
	}

	p {
		margin-bottom: 40px;
	}
}

.info-campaigns {
	text-align: center;
	p {
		margin-bottom: 20px;
		a {
			color: $link;
			text-decoration: none;
		}
	}
}

.free-emails {
	h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 60px;
	}
}

@media (max-width: 400px) {
	.header {
		.header-content {
			amp-img {
				margin-bottom: 30px;
			}
		}

		h1 {
			font-size: 40px;
			line-height: 1.2;
		}

		.titel-part .lead {
			font-size: 24px;
		}
	}	
}